@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    background-color: #234044;
    font-family: 'Montserrat', sans-serif;
    color: #fff; 
}

.cabecalhoPrincipal{
    background-color: #108d38;
    color: #fff;
}

    .cabecalhoPrincipal .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        width: 100%;
        height: 50px;
    }


    .cabecalhoPrincipal-title{
        font-weight: bold;
        font-size: 2em;
    }

        .container a { 
            text-decoration:none;
            color: #fff;
        }

    .cabecalhoPrincipal-title{
        margin-left: 30px;
    }

    .cabecalhoPrincipal-nav {
        display: flex;
        width: 35%;
    }

    .cabecalhoPrincipal-nav-link{
        padding: 10px;
        transition: .5s;
    }

    .cabecalhoPrincipal-nav-link:hover{
        color: #FFF;
        background-color: #0c6327;
    }



.box-content{
    width: 800px;
    height: 300px;
    background: #fff;
    border: 1px solid #000;
    margin: 10% auto;
    color: #000;
}

